.logo {
    background: url(https://pm1.narvii.com/6526/95bc1261f2630386a6ec17460f3725c6022b28ba_hq.jpg);
    width: 173px;
    height: 42px;
    display: block;
    margin-top: 10px;
}
.imgLogo {
    width: 65px;
    height: 40px;
}
.tuaLogo{
    color: white;
    font-size: 14px;
}
#btnSearch{
    background-color: cornflowerblue;
}

body {
    font-family: Arial,sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    background-color: #fff;
}

body {
    color: #000;
    font-size: 12px;
    line-height: 1.5em;
    background: #282828;
}

html {
    font-size: 62.5%;
    -webkit-tap-highlight-color: transparent;
}

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

.input {
    border: 2px solid white;
    border-radius: 25px;
    margin: 5px;
}

.btn-primary {
    color: #fff;
    background-color: #282828;
    border-color: gray;
}

.specialCharacter {
    font-size: x-large;
}

button {
    border-radius: 10px;
}

.search-container {
    float: right;
}

    .search-container button {
        float: right;
        padding: 6px 10px;
        margin-top: 8px;
        margin-right: 16px;
        background: #ddd;
        font-size: 17px;
        border: none;
        cursor: pointer;
    }

        .search-container button:hover {
            background: #ccc;
        }

@media screen and (max-width: 600px) {
    .topnav .search-container {
        float: none;
    }

        .topnav a, .topnav input[type=text], .topnav .search-container button {
            float: none;
            display: block;
            text-align: left;
            width: 100%;
            margin: 0;
            padding: 14px;
        }

    .topnav input[type=text] {
        border: 1px solid #ccc;
    }
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
    font-family: 'Open Sans', 'sans-serif';
}

.mega-dropdown {
    position: static !important;
}

.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}

    .mega-dropdown-menu > li > ul {
        padding: 5px;
        margin: 0;
    }

        .mega-dropdown-menu > li > ul > li {
            list-style: none;
        }

            .mega-dropdown-menu > li > ul > li > a {
                display: block;
                color: black;
                padding: 3px 5px;
            }

    .mega-dropdown-menu > li ul > li > a:hover,
    .mega-dropdown-menu > li ul > li > a:focus {
        text-decoration: none;
    }

    .mega-dropdown-menu .dropdown-header {
        font-size: 18px;
        color: #ff3546;
        padding: 5px 60px 5px 5px;
        line-height: 30px;
    }

.topleft {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 13px;
    border: 1px solid red;
    color: white;
    background-color: red;
    border-radius: 5px;
    margin: 5px;
    padding: 2px;
}

div.bottomleft {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 18px;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 170px;
}

.img-responsive {
    cursor: pointer;
    transition: 0.3s;
    width: 205px;
    height: 265px;
}

.container:hover .img-responsive {
    opacity: 0.7;
}

.titleRecommend {
    font-size: 12px;
    border: 0.5px solid gray;
    color: cornflowerblue;
    background-color: #282828;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
}
div.polaroid {
    width: 100%;
    background-color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
}

div.container {
    text-align: center;
    padding: 10px 20px;
}
.comment {
    text-align: left;
    color: white;
    margin: 3px;
    padding: 3px;
}
.view {
    text-align: right;
    color: white;
    margin: 3px;
    padding: 3px;
}
.desc {
    background-color: #000;
    width: 170px;
}
.xemThem {
    text-align: right;
    font-size: 16px;
    color: cornflowerblue;
}
div.b {
    white-space: nowrap;
    width: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.quangCao{
    width: 95%;
    height: 300px;
    margin-left: 20px;
}
.titleRecommend1 {
    font-size: 16px;
    /*border: 0.5px solid gray;*/
    color: cornflowerblue;
    background-color: #282828;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
}
.xemNhieu {
    width: 95%;
    margin-left: 20px;
}
tr:nth-child(2n+1) {
    background-color: #1a1a1a;
}
.tableXemNhieu{
    margin-top: 5px;
}
.tuaPhim{
    margin-left: 3px;
    text-overflow: ellipsis;
    width: 150px;
    color: white;
}
.detail{
    color: white;
    text-align: left;
    margin-left:3px;
}
.tap {
    border: 1px solid red;
    border-radius: 3px;
    color: white;
    margin: 3px;
    padding: 3px;
    top: 0;
    right: 100%;
    background-color: red;
}
table{
    width: 100%;
}
td{
    margin: 4px;
    padding: 4px;
}
.binhLuanNhieu {
    width: 95%;
    margin-left: 20px;
}
footer {
    background-color: #1a1a1a;
}
.face{
    margin: 5px;
    padding: 3px;
    background-color: cornflowerblue;
    color: white;
}

